body {
    margin: 0px;

    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}

/* ---HEADER--- */

header {
    width: 80%;
    height: 65px;

    padding-top: 57px;

    margin-bottom: 80px;

    display: flex;
    align-items: center;

    position: relative;
}

header .header_logo img {
    width: 151px;
    height: 60px;
}

header .header_link {
    height: 100%;
    width: max-content;

    display: flex;
    align-items: center;

    position: absolute;

    right: 0px;
}

header .header_link a div{
    width: 134px;
    height: 40px;
    border-radius: 10px;
    background-color: #FF9100;

    color: #ffffff;
    font-weight: 600;
    
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 0px 10px;

    transition: 0.2s;
}

header .header_link a:hover div{
    width: 140px;

    background-color: #e28205;

    transition: 0.2s;
}

header .header_link #common_links {
    color: #FF9100;
    font-weight: 600;

    margin: 0px 10px;

    transition: 0.2s;
}

header .header_link #common_links:hover {
    color: #D56363;

    transition: 0.2s;
}


/* ---HEADER end--- */

/* ---SECTIONS--- */

#itmisto_info {
    width: 100%;
    height: 434px;
    margin-bottom: 62px;

    display: flex;
    position: relative;
}

#itmisto_info #h2_main {
    color: #374B5C;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    margin-bottom: 4px;
}

#itmisto_info .text_model {
    width: 45%;
    height: 100%;
    margin-left: 156px;
    left: 0px;

    position: relative;
}

#itmisto_info .text_model h2 {
    color: #374B5C;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


#itmisto_info .text_model h1 {
    height: 70px;
    color: #374B5C;
    font-family: 'Roboto Slab';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0px 0px 21px 0px;
}

#itmisto_info .text_model a div {
    width: 253px;
    height: 43px;
    
    border-radius: 10px;

    color: white;
    background-color: #FF9100;

    display: flex;
    
    justify-content: center;
    align-items: center;

    margin-top: 40px;

    transition: 0.2s;
}

#itmisto_info .text_model a:hover div {
    width: 260px;

    background-color: #e28205;

    transition: 0.2s;
}

#itmisto_info .slider_model {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    right: 0px;

    margin-left: 5%;
    margin-right: 156px;
}

#itmisto_info .slider_model .slider {
    width: 100%;
    height: 80%;
    background-image: url(../img_folder/ITmisto_slider_img1.png);

    position: relative;

    border-radius: 40px;
}

#itmisto_info .slider_model .slider .arrow1 {
    width: 21px;
    height: 42px;

    position: absolute;
    rotate: -180deg;
    left: 7px;
    top: 151px;
    bottom: 151px;
}

#itmisto_info .slider_model .slider .arrow2 {
    width: 21px;
    height: 42px;

    display: block;
    position: absolute;
    right: 7px;
    top: 151px;
    bottom: 151px;
}

#itmisto_info .slider_model .slider div {
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #D46363);

    position: absolute;
    bottom: 0px;

    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

#itmisto_info .slider_model .slider div h2 {
    margin: 0px;
    position: absolute;
    top: 100px;
    left: 30px;
    color: white;
}



#itmisto_info .slider_model .slider {
    width: 100%;
    height: 80%;

    position: relative;
}

#itmisto_info .slider_model .dots {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
}

#itmisto_info .slider_model .dots div {
    width: 18px;
    height: 18px;
    background-color: #FF9100;
    margin: 10px 10px 0px 10px;
    border-radius: 50%;
}

#projects_and_team {
    width: 100%;
    height: fit-content;
    margin-bottom: 137px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects_and_team #h3_main {
    color: #374B5C;
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: 46px;
}

#projects_and_team .projects_cards {
    width: 100%;
    padding-left: 156px;
    padding-right: 156px;
    margin-bottom: 170px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-evenly;
}

#projects_and_team .projects_cards .arrow1,.arrow2 {
    display: none;
}

#projects_and_team .projects_cards .teacher_card, .courses_card, .koworking_card, .contest_card {
    width: 261px;
    height: 305px;

    color: white;
    background-color: #FF9100F5;
    border-radius: 15px;
    
    margin: 10px 0px 0px 0px;

    display: flex;

    flex-direction: column;
    align-items: center;

    transition: 0.3s;
}
#projects_and_team .projects_cards .teacher_card:hover, .courses_card:hover, .koworking_card:hover, .contest_card:hover {
    background-color: #D56363;
    
    margin: 0px 0px 0px 0px;

    transition: 0.4s;
}


#projects_and_team .line_projects {
    width: 100%;
    height: fit-content;

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#projects_and_team .line_projects h2 {
    color: #FF9100;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#projects_and_team .line_projects .line1 {
    width: 35%;
    height: 2px;
    position: absolute;
    left: 0px;
    background-color: #FF9100;
}
#projects_and_team .line_projects .line2 {
    width: 35%;
    height: 2px;
    position: absolute;
    right: 0px;
    background-color: #FF9100;
}

#projects_and_team .line_team {
    width: 100%;
    padding-bottom: 47px;

    font-weight: 200;

    display: flex;

    justify-content: center;
    align-items: center;
}

#projects_and_team .line_team h2 {
    color: #D46363;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#projects_and_team .line_team .line1 {
    width: 40%;
    height: 2px;
    position: absolute;
    left: 0px;
    background-color: #FF9100;
}
#projects_and_team .line_team .line2 {
    width: 40%;
    height: 2px;
    position: absolute;
    right: 0px;
    background-color: #FF9100;
}

#projects_and_team .team {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects_and_team .slider_row {
    width: 100%;
    margin-bottom: 38px;

    display: flex;
    position: relative;
    justify-content: center;
}

#projects_and_team .slider_row .team_img1,.team_img2 {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 80px;
}

#projects_and_team .slider_row .team_img1 {
    left: 11.5%;
}

#projects_and_team .slider_row .team_img2 {
    right: 11.5%;
}

#projects_and_team .slider {
    display: flex;
    justify-content: center;
    position: relative;
}

#projects_and_team .slider .Circle_1,.Circle_2,.Circle_3 {
    width: 224px;
    height: 224px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#projects_and_team .slider .Circle_1 {
    background-image: url(../img_folder/Ellipse\ 2.png);
}

#projects_and_team .slider .Circle_2 {
    background-image: url(../img_folder/Ellipse\ 1.png);
    margin: 0px 83px;
}

#projects_and_team .slider .Circle_3 {
    background-image: url(../img_folder/Ellipse\ 3.png);
}

#projects_and_team .team_button {
    width: 523px;
    height: 97px;
    border-radius: 14px;
    background-color: #FF9100;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

#projects_and_team .team_button:hover {
    width: 543px;
    background-color: #e28205;

    transition: 0.2s;
}

#projects_and_team .team_button h2 {
    color: #FFFDFD;
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    transition: 0.2s;
}

#projects_and_team .team_button:hover h2 {
    font-size: 30px;

    transition: 0.2s;
}

#partners {
    width: 100%;
    height: fit-content;
    margin-bottom: 116px;

    display: flex;
    flex-direction: column;
}

#partners .text {
    width: 100%;
    margin-bottom: 43px;
    text-align: center;
}

#partners .text h2 {
    margin: 0px;
    color: #000;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#partners .icons {
    width: 100%;
    padding: 0 156px;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#partners img {
    width: 151px;
    height: 60px;
    justify-self: center;
}

#partners img {
    filter: grayscale(100);
    transition: 0.3s;
}

#partners img:hover {
    filter: grayscale(0);
    transition: 0.3s;
}

/* ---SECTIONS end--- */

/* ---FOOTER--- */

footer {
    width: 100%;
    padding-left: 156px;
    padding-right: 156px;
    height: 345px;
    background-color: #FF9100;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

footer .logo_box :first-child {
    width: 97px;
    height: 97px;
}
footer .logo_box :last-child {
    width: 160px;
    height: 92px;
}

footer .logo_box,.link_box1,.link_box2,.contacts_box {
    margin: 37px 0px 0px 0px;
}

footer .link_box1 a {
    display: block;
    color: white;
    margin-bottom: 20px;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer .link_box1 :first-child {
    font-weight: 700;
}
footer .link_box2 a {
    display: block;
    color: white;
    margin-bottom: 20px;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .contacts_box {
    display: flex;
    flex-direction: column;
}
footer .contacts_box .contacts_row1,.contacts_row2,.contacts_row3 {
    color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
footer .contacts_box .contacts_row1 :nth-child(n) {
    margin: 0px 10px 0px 10px;
}
footer .contacts_box .contacts_row2 :nth-child(n) {
    margin: 0px 10px 0px 10px;
}
footer .contacts_box .contacts_row3 {
    justify-content: space-between;
}
footer .contacts_box .contacts_row3 :nth-child(n) {
    margin: 0px 16px 0px 16px;
}

.menu {
    display: none;
}

header .burger {
    display: none;
}

footer .line {
    display: none;
}

/* ---FOOTER end--- */


/* ------------------------------------- */
    /* ------------------------------------- */
        /* ------------------------------------- */


@media screen and (max-width: 391px) {
    header {
        width: 100%;
        box-sizing: border-box;
        height: 65px;
    
        padding: 0px 5%;
    
        margin-bottom: 60px;
    
        display: flex;
        position: relative;

        transition: 0.5s;
    }

    header.active {
        width: 100%;
        box-sizing: border-box;
        height: 65px;
        background-color: black;
    
        padding: 0px 5%;
    
        margin-bottom: 60px;
    
        display: flex;
        position: relative;

        transition: 0.5s;
    }

    header .header_link {
        width: fit-content;
        height: 100%;
        display: flex;
    }

    header .header_logo img {
        width: 108px;
        height: 43px;
    }

    header .header_link #contact_button{
        position: absolute;
        top: 18px;
        right: 50px;
    }

    header .header_link a div{
        width: 95px;
        height: 27px;
        border-radius: 10px;
        background-color: #FF9100;
    
        color: #ffffff;
        font-weight: 600;
        font-size: 10px;
        
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
    
        right: 0px;
    
        transition: 0.2s;
    }
    
    header .header_link a:hover div{
        width: 105px;
    
        background-color: #e28205;
    
        transition: 0.2s;
    }
         
    header .header_link #common_links {
        display: none;

    }

    header .burger{
        height: 24px;
        width: 28px;
        right: 20px;
        position: relative;
        display: block;
    }
    
    header .burger :first-child{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #FF9100;
        border-radius: 10px;
        transition: 0.5s;
    }
    
    header .burger :nth-child(2){
        position: absolute;
        bottom: calc(24px/2 - 2px);
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #D46363;
        border-radius: 10px;
        transition: 0.5s;
    }
    
    header .burger :last-child{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #FF9100;
        border-radius: 10px;
        transition: 0.5s;
    }
    
    header .burger.active :first-child{
        transform: rotate(45deg);
        top: calc(50% - 2px);
        transition: 0.5s;
    }
    
    header .burger.active :nth-child(2){
        display: none;
        transition: 0.5s;
    }
    
    header .burger.active :last-child{
        transform: rotate(-45deg);
        bottom: calc(50% - 2px);
        transition: 0.5s;
    }

    .menu {
        top: 65px;
        z-index: 99;
        background-color: white;

        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        position: fixed;

        transform: translateX(-500vh);
        transition: 0.5s;
    }

    .menu.active {
        transform: translateX(0);

        transition: 0.5s;
    }

    ul {
        margin: 20px 0px 0px 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul .line {
        width: 316px;
        height: 2px;
        background-color: #FF9100;
        margin-top: 30px;
    }
    
    ul li {
        list-style: none;
        margin: 10px 10px;
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
    }
    
    ul li a {
        color: #FF9100;
    }   

    /* ---HEADER end--- */
    
    /* ---SECTIONS--- */
    
    #itmisto_info {
        width: 90%;
        height: 640px;
        margin-bottom: 43px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #itmisto_info #h2_main {
        color: #374B5C;
        text-align: center;
        font-family: 'Roboto';
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    
        margin-bottom: 0px;
    }
    
    #itmisto_info .text_model {
        width: 100%;
        height: fit-content;
        margin: 0px;

        text-align: center;

        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        bottom: 0px;
    }
    
    #itmisto_info .text_model h2 {
        color: #374B5C;
        font-size: 36px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
    
    
    #itmisto_info .text_model h1 {
        color: #374B5C;
        font-family: 'Roboto Slab';
        font-size: 54px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    
        margin: 0px 0px 0px 0px;
    }

    #itmisto_info .text_model a div {
        width: 253px;
        height: 43px;
        
        border-radius: 10px;
    
        color: white;
        background-color: #FF9100;
    
        display: flex;
        
        justify-content: center;
        align-items: center;
    
        margin-top: 20px;
    
        transition: 0.2s;
    }
    
    #itmisto_info .text_model a:hover div {
        width: 260px;
    
        background-color: #e28205;
    
        transition: 0.2s;
    }
    
    #itmisto_info .slider_model {
        width: 100%;
        height: 250px;
    
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 0px;
    
        margin: 0px;
    }
    
    #itmisto_info .slider_model .slider {
        width: 100%;
        height: 80%;
        background-image: url(../img_folder/ITmisto_slider_img1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        position: relative;
    
        border-radius: 20px;
    }
    
    #itmisto_info .slider_model .slider .arrow1 {
        width: 12px;
        height: 24px;
    
        position: absolute;
        rotate: -180deg;
        left: 7px;
        top: 88px;
        bottom: 88px;
    }
    
    #itmisto_info .slider_model .slider .arrow2 {
        width: 12px;
        height: 24px;
    
        position: absolute;
        right: 7px;
        top: 88px;
        bottom: 88px;
    }
    
    #itmisto_info .slider_model .slider div {
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #D46363);
    
        position: absolute;
        bottom: 0px;
    
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    
    #itmisto_info .slider_model .slider div h2 {
        margin: 0px;
        font-size: 16px;
        position: absolute;
        top: 50px;
        left: 20px;
        color: white;
    }
    
    
    
    #itmisto_info .slider_model .slider {
        width: 100%;
        height: 80%;
    
        position: relative;
    }
    
    #itmisto_info .slider_model .dots {
        width: 100%;
        height: 20%;
    
        display: flex;
        justify-content: center;
    }
    
    #itmisto_info .slider_model .dots div {
        width: 18px;
        height: 18px;
        background-color: #FF9100;
        margin: 10px 10px 0px 10px;
        border-radius: 50%;
    }
    
    #projects_and_team {
        width: 100%;
        height: fit-content;
        margin-bottom: 29px;
    
        text-align: center;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #projects_and_team #h3_main {
        display: none;
    }
    
    #projects_and_team .projects_cards {
        width: 90%;
        margin-bottom: 29px;
        padding: 0px;
        display: flex;
        justify-content: center;
    }

    #projects_and_team .projects_cards .arrow1,.arrow2 {
        display: block;
        position: absolute;
        top: 10px;
    }

    #projects_and_team .projects_cards .arrow1 {
        left: 10px;
    }

    #projects_and_team .projects_cards .arrow2 {
        right: 10px;
        rotate: 180deg;
    }

    #projects_and_team .projects_cards .teacher_card, .courses_card, .koworking_card {
        display: none;
    }
    
    #projects_and_team .contest_card {
        width: 261px;
        height: 305px;
    
        color: white;
        background-color: #FF9100F5;
        border-radius: 15px;
        
        margin: 10px 0px 0px 0px;
    
        display: flex;
        position: relative;
    
        flex-direction: column;
        align-items: center;
    
        transition: 0.3s;
    }
    #projects_and_team .contest_card:hover {
        background-color: #D56363;
        
        margin: 0px 0px 10px 0px;
    
        transition: 0.4s;
    }
    
    
    #projects_and_team .line_projects {
        width: 100%;
        height: fit-content;
    
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
    #projects_and_team .line_projects h2 {
        color: #FF9100;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    #projects_and_team .line_projects .line1 {
        width: 85px;
        height: 2px;
        position: absolute;
        left: 0px;
        background-color: #FF9100;
    }
    #projects_and_team .line_projects .line2 {
        width: 85px;
        height: 2px;
        position: absolute;
        right: 0px;
        background-color: #FF9100;
    }
    
    #projects_and_team .line_team {
        width: 100%;
        padding-bottom: 47px;
    
        font-weight: 200;
    
        display: flex;
    
        justify-content: center;
        align-items: center;
    }
    
    #projects_and_team .line_team h2 {
        color: #D46363;
        text-align: center;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    #projects_and_team .line_team .line1 {
        width: 112px;
        height: 2px;
        position: absolute;
        left: 0px;
        background-color: #FF9100;
    }
    #projects_and_team .line_team .line2 {
        width: 112px;
        height: 2px;
        position: absolute;
        right: 0px;
        background-color: #FF9100;
    }
    
    #projects_and_team .team {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #projects_and_team .slider_row {
        width: 100%;
        margin-bottom: 38px;
    
        display: flex;
        position: relative;
        justify-content: center;
    }
    
    #projects_and_team .slider_row .team_img1,.team_img2 {
        display: none;
    }
    
    #projects_and_team .slider {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    #projects_and_team .slider .Circle_1,.Circle_2,.Circle_3 {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #projects_and_team .slider .Circle_1 {
        background-image: url(../img_folder/Ellipse\ 2.png);
    }
    
    #projects_and_team .slider .Circle_2 {
        background-image: url(../img_folder/Ellipse\ 1.png);
        margin: 0px 35px;
    }
    
    #projects_and_team .slider .Circle_3 {
        background-image: url(../img_folder/Ellipse\ 3.png);
    }
    
    #projects_and_team .team_button {
        width: 223px;
        height: 42px;
        border-radius: 14px;
        background-color: #FF9100;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #projects_and_team .team_button:hover {
        width: 243px;

        transition: 0.2s;
    }
    
    #projects_and_team .team_button h2 {
        color: #FFFDFD;
        text-align: center;
        font-family: 'Roboto';
        font-size: 14px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    #projects_and_team .team_button:hover h2 {
        font-size: 15px;

        transition: 0.2s;
    }
    
    #partners {
        width: 90%;
        height: fit-content;
        margin-bottom: 45px;
    
        display: flex;
        flex-direction: column;
    }
    
    #partners .text {
        width: 100%;
        margin-bottom: 21px;
        text-align: center;
    }
    
    #partners .text h2 {
        margin: 0px;
        color: #000;
        text-align: center;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    #partners .icons {
        width: 100%;
        padding: 0px 0px;
        box-sizing: border-box;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 21px;
    }
    
    #partners img {
        width: 151px;
        height: 60px;
        justify-self: center;
    }

    #partners #del {
        display: none;
    }
    
    #partners img {
        width: 151px;
        height: 60px;
    }
    
    #partners img {
        filter: grayscale(100);
        transition: 0.3s;
    }
    
    #partners img:hover {
        filter: grayscale(0);
        transition: 0.3s;
    }
    
    /* ---SECTIONS end--- */
    
    /* ---FOOTER--- */
    
    footer {
        width: 100%;
        padding-left: 156px;
        padding-right: 156px;
        height: 345px;
        background-color: #FF9100;
        box-sizing: border-box;
    
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .logo_box {
        display: none;
    }

    footer .link_box1 {
        margin-top: 20px;
    }    

    footer .link_box2 {
        margin: 0px;
    }

    footer .link_box1 a {
        display: block;
        color: white;
        margin-bottom: 10px;
    
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    footer .link_box1 :first-child {
        font-weight: 700;
    }
    footer .link_box2 a {
        display: block;
        color: white;
        margin-bottom: 10px;
    
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    footer .contacts_box {
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    footer .contacts_box .contacts_row1,.contacts_row2 {
        display: none;
    }

    footer .contacts_box .contacts_row3 {
        color: white;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    footer .contacts_box .contacts_row3 {
        justify-content: space-between;
    }
    footer .contacts_box .contacts_row3 :nth-child(n) {
        margin: 0px 16px 0px 16px;
    }

    footer .line {
        display: block;
        width: 300px;
        height: 2px;
        background-color: white;
    }
    
}