body {
    margin: 0;
}

#first_text_block {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: crimson;
}

#second_text_block {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    width: 100%;
    height: 60px;
    background-color: crimson;
}

#main_img {
    width: 30%;
    align-self: center;
}

#img_block {
    display: flex;
    justify-content: center;
}

#main_img_block {
    display: flex;
    justify-content: center;
}

#camaro_main_text {
    border: 5px;
    border-color: blueviolet;
    font: 2em Arial;
    font-weight: bold;
    text-align: center;
}

#camaro_text {
    font: 1.5em Arial;
    text-align: center;
}

#bold_texts {
    margin: 0;
    font-weight: 700;
}

.imgs {
    width: 15%;
    border-radius: 15px;
}

.main_texts {
    font: 2em Arial;
    margin: 0;
    padding-top: 10px;
    color: aliceblue;
}